{% extends "base.html" %}

{% block title %}Hỗ Trợ{% endblock %}
{% block nav-about-drop %}active{% endblock %}
{% block nav-support %}active{% endblock %}

{% block content %}
    <h3><i class="fas fa-life-ring"></i> Hỗ trợ</h3>
    <ul class="list-unstyled">
        <li><i class="fas fa-envelope"></i> cungnhauhoctap.official@gmail.com</li>
        <li><i class="fab fa-facebook"></i> Facebook: <a href="https://www.facebook.com/cungnhauhoctap.official/" target="_blank">@cungnhauhoctap.official</a></li>
        <li><i class="fab fa-github"></i> Github: <a href="https://github.com/cungnhauhoctap" target="_blank">@cungnhauhoctap</a></li>
    </ul>
{% endblock %}