{% extends "base.html" %}

{% block title %}Chỉnh Sửa Kiểm Tra{% endblock %}
{% block nav-hoctap-drop %}active{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Chỉnh sửa: <a href="/p/kiem_tra/p/{{test.test_id}}">{{test.title|capfirst}}</a></h3>
            <h5 class="card-subtitle mb-2 text-muted"><i class="fas fa-user"></i> <a href="/profile/detail/{{test.author}}">{{test.author}}</a> | <i class="far fa-clock"></i> {{test.createdAt|date:"d/m/Y"}}</h5>
            <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-tag"></i> Tags:
                {% for key, value in test.tags.items %} 
                    <a href="/p/hoc_tap/tag/{{ key }}">{{ value }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% empty %}
                không có tag
                {% endfor %} 
            </h6>
            <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-trophy"></i> <a href="topscore">Bảng xếp hạng</a></h6>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="card mt-3">
            <div class="card-body">
                {{ form|crispy }}

                {% for key,value in correct_ans.items %}
                      <label>Câu {{ forloop.counter }}:</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{key}}" id="inlineRadio1" value="a" required {% if value == 'a' %}checked{% endif %}>
                            <label class="form-check-label" for="inlineRadio1">A</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{key}}" id="inlineRadio2" value="b" required {% if value == 'b' %}checked{% endif %}>
                            <label class="form-check-label" for="inlineRadio2">B</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{key}}" id="inlineRadio3" value="c" required {% if value == 'c' %}checked{% endif %}>
                            <label class="form-check-label" for="inlineRadio3">C</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{key}}" id="inlineRadio4" value="d" required {% if value == 'd' %}checked{% endif %}>
                            <label class="form-check-label" for="inlineRadio4">D</label>
                        </div>
                      <br>
                {% endfor %}

                <div class="dropdown mb-3">
                    <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tags
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for tag in tags %}
                        <div class="form-check">
                            <input name="tags" class="form-check-input" type="checkbox" value="{{tag.0}}" id="{{tag.0}}">
                            <label class="form-check-label" for="{{tag.0}}">
                                {{tag.1}}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success mt-3">Lưu</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block sidebar %}
<div class="alert alert-danger" role="alert">
    <h4>Xóa bài viết </h4>
    <p><i>(Hoạt động này không thể hoàn tác!)</i></p>
    <a href="/p/kiem_tra/p/{{test.test_id}}/delete" class="btn btn-danger">Xóa bài viết</a>
</div>
{% endblock %}