{% extends "base.html" %}

{% block title %}Hỏi Đáp - Tìm Kiếm{% endblock %}
{% block nav-qna-drop %}active{% endblock %}
{% block nav-qna-search %}active{% endblock %}
{% load static %}

{% block content %}
    <h3><i class="fas fa-search"></i> Tìm kiếm</h3>
    <div>
        <form class="form mb-3" method="get">
            <input name='q' class="form-control mr-sm-2 " type="search" placeholder="tiêu đề hỏi đáp" aria-label="Search" required> <br>
            <button class="btn btn-outline-success" type="submit">Tìm Kiếm</button>
        </form>
    </div>

    {% if is_searching == True %} 
        <h3><h3><i class="fas fa-book"></i> Danh sách tìm thấy</h3>
        <div class="row">
            {% for post in questions %}
            <div class="col-lg-12 col-md-12">
                <div class="card mt-3">
                    <div class="card-body">
                        <h2 class="card-title"><a href="/question/detail/{{ post.id }}">{{ post.title }}</a></h2>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <i class="fas fa-caret-up"></i> {{post.NumberOfLike}}
                            <i class="fas fa-caret-down"></i> {{post.NumberOfDislike}}
                            <i class="far fa-comment"></i> {{post.comment_count}}
                        </h6>
                        <a href="/question/detail/{{post.id }}" class="btn btn-sm btn-primary">Xem</a>
                    </div>
                    <div class="card-footer text-muted border-top-0">
                        <div class="row">
                          <div class="col-4">
                            <p class="m-0"><i class="fas fa-user"></i> <a href="/profile/detail/{{post.author}}">{{post.author}}</a></p>
                            <p class="m-0"><i class="fas fa-calendar-alt"></i> {{post.createdAt|date:"d/m/Y"}}</p>
                          </div>
                          <div class="col-8">
                            <div class="d-flex justify-content-end">
                              <p class="m-0 mr-2"></i>{% if post.is_open %}<i class="fas fa-unlock" style="color: green;"></i>
                                {% else %}<i class="fas fa-lock" style="color: red;"></i>{% endif %} Trạng Thái: {% if post.is_open %}Mở{% else %}Đóng{% endif %}</p>
                              <p class="m-0">{% if not post.is_finished %}<i class="fas fa-circle" style="color: red;"></i>
                                {% else %}<i class="fas fa-check-circle" style="color: green;"></i>{% endif %} Đã có kết quả chính xác: {% if post.is_finished %}Có{% else %}Không{% endif %}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}