{% extends 'base.html' %}

{% block title %}Tag{% endblock %}
{% block nav-hoctap-drop %}active{% endblock %}
{% block nav-hoctap-tag %}active{% endblock %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Tag</h3>
        
        {% for group in groups %}
        <div class="list-group mb-3">
            <h6>Group: {{group.name}}</h6>
            {% for tag in tags %} 
            {% if tag.group == group %} 
            <a href="/p/hoc_tap/tag/{{tag.id}}" class="list-group-item list-group-item-action">{{tag.name}} (id: {{tag.id}})</a>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/viewMode1.js' %}"></script>
{% endblock %}