{% extends "base.html" %}

{% block title %}Nội Dung Học Tập{% endblock %}
{% block nav-hoctap-other-drop %}active{% endblock %}
{% block nav-hoctap-todo %}active{% endblock %}

{% block content %}
<div class="container my-4">
    <h3>{{ task.title }} 
        <a href="/todo/detail/{{task.id}}/change" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i> chỉnh sửa</a>
    </h3> 
    <p class="text-muted">{{ task.created_at|date:"G:i d/m/Y" }}</p>
    <ul class="list-group mb-3">
        {% if task.detail %}<li class="list-group-item"><b>Nội dung</b>: {{task.detail}}</li> {% endif %}
        <li class="list-group-item"><b>Đã hoàn thành</b>: {% if task.is_finished == True %} <i class="fas fa-check" style="color:rgb(91, 255, 91)"></i> {% else %}<i class="fas fa-times" style="color:rgb(255, 91, 91)"></i>{% endif %}</li>
    </ul>
    {% if task.is_finished == False %}
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-success my-2" type="submit" name="is_finished" value="true">Xác nhận hoàn thành</button>
    </form>
    {% endif %}
    <a href="delete" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Xóa</a>
</div>
{% endblock %}