:root {
    --light: #f5f5f5;
    --darker: rgba(0, 0, 0, 0.75);
    --lighter: #fff; 
}

.table-format {
    background-color: rgb(245, 244, 244);
    margin: 0px;
}
.content-img {
    width: 100%;
    height: auto;
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--light);
    color: var(--dark);
}